
/* header */
@media (max-width:1024px) {
    .bg-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        width: 100%;
        /* height: 100%; */
    }
}
@media (max-width:768px) {
    .nav {
        display: none;
    }
    .burger-bar{
        display: block;
        margin-right: 20px;
        align-items: flex-start;
    }
}
@media (max-width:420px) {
    .text-block h1 {
        font-size: 20px;
        height: auto;
    }
}

/* section 1 */
@media (max-width:1249px) {
    .right-block {
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .left-block {
        margin: 70px  auto;
    }
}
@media (max-width:560px) {
    .right-block {
        flex-wrap: wrap;
        justify-content: center;
    }
    .left-block {
        margin: 0  auto;
        height: auto;
    }
    .left-block h3 {
        font-size: 30px;
        height: auto;
    }
    .left-block-p3 {
        height: auto;
    }
    .left-block-p2 {
        height: auto;
    }
    .photos3 {
        width: 100%;
    }
}

/* section 2 */
@media (max-width:1063px) {
    .block:nth-child(1),
    .block:nth-child(2),
    .block:nth-child(3),
    .block:nth-child(4) {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        width: 48%;
    }
    .leaves {
        height: auto;
    }
    .section2-text-block h3 {
        font-size: 24px;
    }
}@media (max-width:548px) {
    .block:nth-child(1),
    .block:nth-child(2),
    .block:nth-child(3),
    .block:nth-child(4) {
        display: flex;
        flex-wrap: wrap;
        margin: 10px auto;
        width: 51%;
        width: auto;
    }
}
/* section 3 */
@media (max-width:1256px) {
    .section3-right-block {
        margin: 0 auto;
    }
    .section3-text-block {
        margin: 76px auto;
    }
}
@media (max-width:456px) {
    .section3-text-block-h3 {
        font-size: 24px;
        margin: 0 auto;
        height: auto    ;
    }
    .section3-right-block {
        width: 100%;
        height: auto;
    }
}
@media (max-width:609px) {
    .image3 {
       width: 100%;
       height: auto;
    }
}
/* section 4 */
@media (max-width:1081px) {
    .img-section4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    .img:nth-child(1),
    .img:nth-child(2),
    .img:nth-child(3) {
        margin-right: 20px;
        margin-bottom: 20px;
        
    }
}
@media (max-width:786px) {
    .p-tag {
        height: auto;
        font-size: 24px;
    }
}  



/* footer */
@media (max-width:1080px) {
    .social-media-block,
    .useful-link {
        width: 48%;
        margin-bottom: 40px;
    }

}
@media (max-width:620px) {
    .social-media-block,
    .useful-link {
        width: 55%;
        margin-bottom: 40px;
        margin: 10px auto;
    }

}
@media (max-width:357px) {
    .social-media-block p{
        width: 49%;
        height: auto;
    }

}